.skill__footer {
  width: 100%;
  background: #333541;
  padding: 25px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: fit-content;
}

.skill__cotainer {
  align-items: center;
  color: aliceblue;
  display: flex;
}
.icon-user {
  color: white;
  font-size: 60px;
  color: white;
  font-size: 45px;
  padding: 8px;
  margin: 0 100px;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  /* animation: fadeIn ease 10s; */
}
.icon-program {
  list-style-type: none;
  margin-bottom: 5px;
  align-items: center;
}
.skill-section-icon {
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
