.filter {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: 1px solid gray;
  display: inherit;
  position: relative;
}
.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible {
  padding: 1rem;
  position: absolute;
  right: 16px;
  font-size: 18px;
}
.fas {
  font-size: 1.5rem;
}
.collapsible .result {
  font-family: sans-serif;
}
